*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: 0 auto
}

.row{ 
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    display: flex;
}


header .container{
    background-color: blue;
    color: white;
    padding: 10px 0;
}

header a{
    text-decoration: none;
    color: white;
}

.container-aqua{
    background-color: aqua;
}


.col-lg-12{
    height: 40px;
}
.row .col{
    text-align: center;
}
.row-avatar .col-lg-4{
    height: 150px;
}
.row-avatar img{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.card{
    height: 100px;
    border: 1px solid red;
}
